html, body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  color: #29293a;
  max-width: 90em;
}




.sticky-header {
  top: 0px;
  display: block;
  margin: auto;
}


/* Info Bar */
/*.info-bar {*/
/*  position: relative;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-gap: 10px;*/
/*  grid-auto-rows: minmax(58px, auto);*/
/*  width: 100%;*/
/*  height: 58px;*/
  /*left: 50%;*/
  /*margin-left: -45em;*/
/*  color: #555;*/
/*  font-family: 'Ubuntu', sans-serif;*/
/*  background-color: #f3f3f0;*/
/*  box-shadow: inset 0 10px 10px -6px #c2c6cb;*/
/*}*/
.info-bar {
  position: fixed;
  /*display: table;*/
  width: 100%;
  height: 58px;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f3f0;
  box-shadow: inset 0 10px 10px -6px #c2c6cb;
  z-index: 999;
}
.info-bar a {
  text-decoration: none;
}
.info-bar .components {
  height: 100%;
}
.address {
  float: left;
  height: inherit;
}
.address .marker {
  float: left;
  padding-top: 13px;
  padding-left: 20px;
}
.address .full {
  display: none;
}
.address .mobile,
.address .full {
  line-height: 62px;
  margin-left: 0.5em;
}
.business-hours {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  display: none;
}
@media screen and (min-width: 20em) {
  .business-hours,
  .business-hours .days,
  .business-hours .time{
    display: block;
  }
 }
@media screen and (min-width: 26em) {
  .business-hours {
    margin-top: 11px;
  }
  .business-hours .days {
    display: inline;
  }
}
@media screen and (min-width: 62em) {
  .business-hours {
    margin-top: 20px;
  }
  .business-hours .time {
    display: inline;
  }
  .address .full {
    display: inline;
  }
  .address .mobile {
    display: none;
  }
}
.social-media {
  position: relative;
  float: right;
  height: inherit;
  top: 12px;
  right: 2%;
  font-size: 1.2em;
  letter-spacing: 0.5em;
}
@media screen and (max-width: 15em) {
  .address {
    display: none;
  }
}

.empty-box {
  width: 100%;
  height: 1000px;
  background: yellow;
}



/*.info-bar a:visited {*/
/*  color: #555;*/
/*}*/
/*.info-bar-components {*/
/*  display: none;*/
/*}*/
/*@media screen and (min-width: 27.5em) {*/
/*  .info-bar-components {*/
/*    display: contents;*/
/*  }*/
/*}*/

/*.address {*/
/*  display: table;*/
/*  position: relative;*/
/*  grid-column: 1;*/
/*  height: 100%;*/
/*  left: 2em;*/
/*}*/
/*.address-wrapper {*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/
/*  text-align: left;*/
/*}*/
/*.address a {*/
/*  text-decoration: none;*/
/*}*/
/*@media screen and (max-width: 25em) {*/
/*  .address-text {*/
/*    display: none;*/
/*  }*/
/*}*/
/*@media screen and (min-width: 61em) {*/
/*  .mobile-address {*/
/*    display: none;*/
/*  }*/
/*  .address-text: {*/
/*    display: contents;*/
/*  }*/
/*}*/
/*span.hours {*/
/*  display: inline-block;*/
/*}*/
/*.fa-map-marker-alt {*/
/*  margin-right: .5em;*/
/*}*/
/*.business-hours {*/
/*  display: table;*/
/*  position: relative;*/
/*  grid-column: 2;*/
/*  height: 100%;*/
/*}*/
/*.hours-wrapper {*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/
/*  text-align: center;*/
/*}*/
/*.social-media {*/
/*  display: table;*/
/*  position: relative;*/
/*  grid-column: 3;*/
/*  height: 100%;*/
/*  right: 1em;*/
/*}*/
/*.social-media-wrapper {*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/
/*  text-align: right;*/
/*}*/
/*.social-media a {*/
/*  text-decoration: none;*/
/*  letter-spacing: 0.9em;*/
/*}*/




/* Navbar */
.navbar a:visited {
  color: #29293a;
}
.navbar a:hover,
.navbar a:focus {
  color: #e24040;
}
.navbar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(58px, auto);
  background-color: #fff;
  width: 100%;
  height: 116px;
  z-index: 999;
}
.navbar-shrink {
  position: fixed;
  height: 90px;
}
.nav-logo {
  display: table;
  position: relative;
  grid-column: 1;
  height: 100%;
  left: 16vw;
}
@media screen and (min-width: 90em) {
  .nav-logo {
    left: 14.5em;
  }
}
@media screen and (max-width: 15em) {
  .nav-logo {
    display: none;
  }  
}
.logo-wrapper {
  display: table-cell;
  vertical-align: middle; 
}
.nav-links {
  display: none;
}
.hamburger {
  display: table;
  position: relative;
  grid-column: 3; 
  height: 100%;
  width: 100%;
  right: 12vw;
}
.hamburger-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
@media screen and (min-width: 58em) {
  .nav-links {
    display: table;
    grid-column: 2 / 4;
    height: 100%;
  }
  .hamburger {
    display: none;
  }
}
.links-wrapper {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.nav-links ul {
  list-style-type: none;
  padding-left: 2em;
}
.nav-links li {
  display: inline;
  letter-spacing: 0.4em;
}
.nav-links a {
  margin-right: 3.5em;
  color: #29293a;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}




 /*Photo Fader */
.fader {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  top: 174px;
}
.photo-fader-viewer {
  position: fixed;
  left: 50%;
  margin-left: -720px;
}




/* Events and Announcements */
.events-container {
  position: relative;
  top: 412px;
  background: #f3f3f0;
  width: 100%;
  height: 720px;
}
.title {
  font-size: 5em;
  text-align: center;
}
.events-wrapper {
  position: relative;
  top: 7px;
}
.event-box {
  position: relative;
  background: #fff;
  width: 78%;
  height: 160px;
  left: 7em;
}