html, body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  color: #29293a;
  max-width: 90em;
}




.sticky-header {
  top: 0px;
  display: block;
  margin: auto;
}

/* Info Bar */
.info-bar {
  position: fixed;
  width: 100%;
  max-width: 90em;
  height: 58px;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f3f0;
  box-shadow: inset 0 10px 10px -6px #c2c6cb;
  z-index: 999;
}
.info-bar a {
  text-decoration: none;
}
.info-bar a.map:link,
.info-bar a.map:visited {
  color: #4285f4;
}
.info-bar a.facebook:link,
.info-bar a.facebook:visited {
  color: #4267b2;  
}
.info-bar a.meetup:link,
.info-bar a.meetup:visited {
  color: #f64060;  
}
.info-bar .components {
  height: 100%;
}
.address {
  float: left;
  height: inherit;
}
.address .marker {
  float: left;
  padding-top: 13px;
  padding-left: 16px;
}
.address .full {
  display: none;
}
.address .mobile,
.address .full {
  line-height: 62px;
  margin-left: 0.3em;
}
@media screen and (max-width: 15em) {
  .address {
    display: none;
  }
}
.business-hours {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 13px;
  display: none;
}
@media screen and (min-width: 20em) {
  .business-hours,
  .business-hours .days,
  .business-hours .time{
    display: block;
  }
  .business-hours .days {
    display: inline;
  }
 }
@media screen and (min-width: 62em) {
  .business-hours {
    margin-top: 20px;
  }
  .business-hours .time {
    display: inline;
  }
  .address .full {
    display: inline;
  }
  .address .mobile {
    display: none;
  }
}
.social-media {
  position: relative;
  float: right;
  height: inherit;
  top: 10px;
  right: 4%;
  font-size: 1.2em;
  letter-spacing: 0.3em;
}




/* Navbar */
.title-bar {
  position: fixed;
  top: 58px;
  height: 96px;
  width: 100%;
  max-width: 90em;
  z-index: 999;
  background-color: #fff;
}
.title-bar a:visited {
  color: #29293a;
}
.title-bar a:hover,
.title-bar a:focus {
  color: #e24040;
}
.title-bar .logo {
  position: relative;
  max-width: 90em;
  float: left;
  left: 4%;
  padding-top: 2px;
}
.title-bar .title {
  font-size: 2em;
  text-align: center;
  position: relative;
}
.title-bar span {
  display: block;
}
@media screen and (min-width: 43em) {
  .title-bar span {
    display: inline;
    line-height: 96px;
  }
  .title-bar .title {
    font-size: 3em;
  }
}






.empty-box {
  width: 100%;
  height: 412px;
  background: #f3f3f0;
  border-style: solid;
}








/* Navbar */
/*.navbar {*/
/*  position: relative;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-gap: 10px;*/
/*  grid-auto-rows: minmax(58px, auto);*/
/*  background-color: #fff;*/
/*  width: 100%;*/
/*  height: 116px;*/
/*  z-index: 999;*/
/*}*/
/*.navbar-shrink {*/
/*  position: fixed;*/
/*  height: 90px;*/
/*}*/
/*.nav-logo {*/
/*  display: table;*/
/*  position: relative;*/
/*  grid-column: 1;*/
/*  height: 100%;*/
/*  left: 16vw;*/
/*}*/
/*@media screen and (min-width: 90em) {*/
/*  .nav-logo {*/
/*    left: 14.5em;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 15em) {*/
/*  .nav-logo {*/
/*    display: none;*/
/*  }  */
/*}*/
/*.logo-wrapper {*/
/*  display: table-cell;*/
/*  vertical-align: middle; */
/*}*/
/*.nav-links {*/
/*  display: none;*/
/*}*/
/*.hamburger {*/
/*  display: table;*/
/*  position: relative;*/
/*  grid-column: 3; */
/*  height: 100%;*/
/*  width: 100%;*/
/*  right: 12vw;*/
/*}*/
/*.hamburger-wrapper {*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/
/*  text-align: right;*/
/*}*/
/*@media screen and (min-width: 58em) {*/
/*  .nav-links {*/
/*    display: table;*/
/*    grid-column: 2 / 4;*/
/*    height: 100%;*/
/*  }*/
/*  .hamburger {*/
/*    display: none;*/
/*  }*/
/*}*/
/*.links-wrapper {*/
/*  display: table-cell;*/
/*  position: relative;*/
/*  vertical-align: middle;*/
/*}*/
/*.nav-links ul {*/
/*  list-style-type: none;*/
/*  padding-left: 2em;*/
/*}*/
/*.nav-links li {*/
/*  display: inline;*/
/*  letter-spacing: 0.4em;*/
/*}*/
/*.nav-links a {*/
/*  margin-right: 3.5em;*/
/*  color: #29293a;*/
/*  font-family: 'Oswald', sans-serif;*/
/*  text-decoration: none;*/
/*  font-size: 20px;*/
/*  font-weight: bold;*/
/*}*/




 /*Photo Fader */
.fader {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  top: 174px;
}
.photo-fader-viewer {
  position: fixed;
  left: 50%;
  margin-left: -720px;
}




/* Events and Announcements */
/*.events-container {*/
/*  position: relative;*/
/*  top: 412px;*/
/*  background: #f3f3f0;*/
/*  width: 100%;*/
/*  height: 720px;*/
/*}*/
/*.title {*/
/*  font-size: 5em;*/
/*  text-align: center;*/
/*}*/
/*.events-wrapper {*/
/*  position: relative;*/
/*  top: 7px;*/
/*}*/
/*.event-box {*/
/*  position: relative;*/
/*  background: #fff;*/
/*  width: 78%;*/
/*  height: 160px;*/
/*  left: 7em;*/
/*}*/