body {
  margin: 0;
}

/* Front Page */
.navbar {
  background-color: #fff;
  margin: 0;
  top: 0;
  width: 100%;
  height: 50px;
  border-style: solid;
  position: fixed;
  z-index: 9999; }
.navbar > h1 {
  margin-top: 0;
  padding-top: 4px;
  text-align: center; }
#splash-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  width: 100%;
  height: 580px;
  /*background-image: url("../images/placeholder-background.png");*/
  border-style: solid; 
  background-image: url("../images/table-sepia-1080x720.jpg"); }
.main-article {
  position: relative;
  margin-top: 10px;
  grid-column: 1 / 3;
  height: 560px;
  border-style: solid; }
.slide-viewer {
  position: relative;
  overflow: hidden;
  margin: 70px auto 0 auto;
  width: 540px;
  height: 420px;
  border-style: solid; }
.slide-group {
  width: 100%;
  height: 100%;
  position: relative; }
.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute; }
.slide:first-child {
  display: block; }
.slide-buttons {
  width: 100%;
  margin: 8px auto; 
  text-align: center; }
.slide-buttons button {
  background-color: rgba(100, 100, 100, 0.2);
  height:        15px;
  width:         15px;
  border-radius: 15px;
  margin: 0 2px;
  border-style: none;
  outline: none; }
.slide-buttons .active, .slide-buttons button:hover {
  background-color: rgba(100, 100, 100, 0.5); }
.unsplash-credit {
  position: absolute;
  margin: 0 5px 5px 0;
  font-size: 14px;
  /*text-align: right;*/
  right: 0;
  bottom: 0;
}
.right-bar {
  margin-top: 10px;
  grid-column: 3;
  height: 560px;
  overflow: hidden;
  border-style: solid; }
.logo-container {
  /*margin: 10px;*/
  height: 280px;
  text-align: center;
  border-style: solid; }
.right-bar section {
  /*margin: 0 10px;*/
  padding-left: 20px;
  font-size: 20px;
  border-style: solid; }

  
  /* Menu Page */
#menu-page {
  width: 100%;
  height: 540px;
  border-style: solid; }
.menu-heading {
  text-align: center;
}
#menu-page hr {
  /*width: 95%;*/
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); }
.menu-list {
  padding-left: 80px;
  grid-column: 1 / 3;
  border-style: solid; }
.menu-list li {
  list-style: none; }